# Build output:
/.cache/
/dist/
/lib/
/serverConfig.json
/.nyc_output
/coverage

# Package managers:
node_modules/
npm-debug.log
package-lock.json
yarn-error.log

# Editors:
.DS_Store
.idea/
.vscode/

# local tokenId mapping:
src/v3/providers/coinmarketcap/tokenMapping.json
src/v3/providers/coingecko/tokenMapping.json
